name: Deploy to Azure

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest # Latest Ubuntu Runner

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.0

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }} # Github secret containing Azure credentials in JSON format

    - name: Terraform Init
      run: terraform init
      working-directory: ./terraform

    - name: Terraform Plan
      run: terraform plan -out=tfplan
      working-directory: ./terraform

    - name: Terraform Apply
      run: terraform apply -auto-approve -var "resource_group_name=my_group" -var "bastion_username=${{ secrets.BASTION_USERNAME }}" -var "bastion_ssh_key=${{ secrets.BASTION_SSH_KEY }}" tfplan
      working-directory: ./terraform